<b>
  <font>
    <div>
      <div *ngIf="flag" class="main">
        <table>
          <br>
          <tr>
            &nbsp;
            <td>Cat id</td>

            <td>
              <input placeholder=" id" style="border-radius: 10px;" [(ngModel)]="id" type="number"> </td>
          </tr>
          <br>

          <tr>
            &nbsp;
            <td>cat name</td>

            <td>
              <input [(ngModel)]="name" placeholder=" name" style="border-radius: 10px;" type="text"> </td>
          </tr>
          <br>
          <tr>
<td>          <select>
            <option *ngFor="let item of arr">{{item}}</option>
          </select>
    </td>
        </tr>

          <br>

          <br>

          <br>
          <tr style="align-self: center;">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <td>
              <input (click)="onadd()" style="margin-left: 145px; height:30px; width:100px; background-color:purple; color:white;" type="button"
                value="ok">
            </td>
          </tr>

        </table>
<br>
      </div>


      <div class="container">
        <div class="row">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">umang</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="#" (click)=onadd1()>add cat
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">about</a>
                  </li>

                </ul>


              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
        </div>

        <div class="row">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div *ngFor="let item of arr" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="..." alt="...">
                  <div class="caption">

                    <p>{{item.id}}</p>
                    <h3>{{item.name}}</h3>
                    <p>{{item.active}}</p>

                    <button (click)="ondelete(item)" type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    |
                    <button (click)="onupdate(item)" class="btn btn-default">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    |
                    <!-- <button (click)="on_update(item)" class="btn btn-default">update
                      <span class="glyphicon"></span>
                    </button> -->

                    <button (click)="on_update(item)" class="btn btn-default">update
                      <span class="glyphicon"></span>
                    </button>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-inverse"></nav>
      </div>
    </div>
