<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: lightcoral; color:white; border-radius:16px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <b></b><div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:white;" routerLink="/employee">employee</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a style="color:white; font-family:Times New Roman; font-size:20px;" routerLink="/product">product
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li>
          <a  style="color:white; font-size: 20px;" routerLink="/student">student</a>
        </li>
        <li>
          <a href="#" style="color:white; font-size: 20px;" routerLink="/cat">cat</a>
        </li>

      </ul>


    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
